<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android">-->
<!--    &lt;!&ndash; Vibration when a notification arrives &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.VIBRATE" />-->
<!--    &lt;!&ndash; Schedule exact alarms (Android 12+) &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />-->
<!--    &lt;!&ndash; Full screen notification intent &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />-->
<!--    &lt;!&ndash; Wake the device screen on notification &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
<!--    &lt;!&ndash; Foreground service to keep notifications alive &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->
<!--    &lt;!&ndash; Re-schedule alarms/notifications after device reboot &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
<!--    &lt;!&ndash; <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />&ndash;&gt;-->
<!--    &lt;!&ndash; required for Android 13+ to show notifications&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>-->
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
<!--    <application-->
<!--        android:label="remainder"-->
<!--        android:name="${applicationName}"-->
<!--        android:icon="@mipmap/ic_launcher">-->
<!--        <activity-->
<!--            android:name="io.flutter.embedding.android.FlutterActivity"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize"-->
<!--            android:showWhenLocked="true"-->
<!--            android:turnScreenOn="true"-->
<!--            >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--&lt;!&ndash;        &lt;!&ndash; If you're using any <activity>, <activity-alias>, <service>, or <receiver> components with <intent-filter> declared inside, add the attribute android:exported="true" to make them accessible from outside the app's context &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <activity&ndash;&gt;-->
<!--&lt;!&ndash;            android:name=".MainActivity"&ndash;&gt;-->
<!--&lt;!&ndash;            android:exported="true"&ndash;&gt;-->
<!--&lt;!&ndash;            android:launchMode="singleTop"&ndash;&gt;-->
<!--&lt;!&ndash;            android:taskAffinity=""&ndash;&gt;-->
<!--&lt;!&ndash;            android:theme="@style/LaunchTheme"&ndash;&gt;-->
<!--&lt;!&ndash;            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"&ndash;&gt;-->
<!--&lt;!&ndash;            android:hardwareAccelerated="true"&ndash;&gt;-->
<!--&lt;!&ndash;            android:windowSoftInputMode="adjustResize"&ndash;&gt;-->
<!--&lt;!&ndash;            android:showOnLockScreen="true"&ndash;&gt;-->
<!--&lt;!&ndash;            android:turnScreenOn="true"&ndash;&gt;-->
<!--&lt;!&ndash;            android:showWhenLocked="true">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash; Specifies an Android theme to apply to this Activity as soon as&ndash;&gt;-->
<!--&lt;!&ndash;                 the Android process has started. This theme is visible to the user&ndash;&gt;-->
<!--&lt;!&ndash;                 while the Flutter UI initializes. After that, this theme continues&ndash;&gt;-->
<!--&lt;!&ndash;                 to determine the Window background behind the Flutter UI. &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <meta-data&ndash;&gt;-->
<!--&lt;!&ndash;                android:name="io.flutter.embedding.android.NormalTheme"&ndash;&gt;-->
<!--&lt;!&ndash;                android:resource="@style/NormalTheme"&ndash;&gt;-->
<!--&lt;!&ndash;                />&ndash;&gt;-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.MAIN"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;        </activity>&ndash;&gt;-->
<!--        <service-->
<!--            android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmService"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE"-->
<!--            android:exported="false"/>-->
<!--        <receiver-->
<!--            android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmBroadcastReceiver"-->
<!--            android:exported="false"/>-->
<!--        <receiver-->
<!--            android:name="dev.fluttercommunity.plus.androidalarmmanager.RebootBroadcastReceiver"-->
<!--            android:enabled="false"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        &lt;!&ndash; Needed so alarms/notifications are re-scheduled after reboot &ndash;&gt;-->
<!--&lt;!&ndash;        <receiver android:exported="true" android:name="com.dexterous.flutterlocalnotifications.receivers.ActionBroadcastReceiver" />&ndash;&gt;-->
<!--&lt;!&ndash;        <receiver android:exported="true" android:name="com.dexterous.flutterlocalnotifications.receivers.ScheduledNotificationReceiver" />&ndash;&gt;-->
<!--&lt;!&ndash;        <receiver android:exported="true" android:name="com.dexterous.flutterlocalnotifications.receivers.ScheduledNotificationBootReceiver">&ndash;&gt;-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.BOOT_COMPLETED"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.QUICKBOOT_POWERON" />&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;        </receiver>&ndash;&gt;-->
<!--&lt;!&ndash;        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">&ndash;&gt;-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.BOOT_COMPLETED"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.QUICKBOOT_POWERON" />&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;        </receiver>&ndash;&gt;-->
<!--        &lt;!&ndash; Don't delete the meta-data below.-->
<!--             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="flutterEmbedding"-->
<!--            android:value="2" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-7713521756709454~9448453835" />-->
<!--&lt;!&ndash;        <meta-data&ndash;&gt;-->
<!--&lt;!&ndash;            android:name="com.google.firebase.messaging.default_notification_icon"&ndash;&gt;-->
<!--&lt;!&ndash;            android:resource="@drawable/your_icon_name"/>&ndash;&gt;-->
<!--    </application>-->
<!--    &lt;!&ndash; Required to query activities that can process text, see:-->
<!--         https://developer.android.com/training/package-visibility and-->
<!--         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.-->
<!--         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. &ndash;&gt;-->
<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.PROCESS_TEXT"/>-->
<!--            <data android:mimeType="text/plain"/>-->
<!--        </intent>-->
<!--    </queries>-->
<!--</manifest>-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="android.permission.VIBRATE"/>
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission
        android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission
        android:name="android.permission.WAKE_LOCK"/>
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission
        android:name="android.permission.USE_EXACT_ALARM"/>
    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="remainder">
        <!-- Declare FlutterActivity -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:turnScreenOn="true"
            android:screenOrientation="portrait"></activity>
        <!-- MainActivity declaration -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:theme="@style/LaunchTheme"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="RECEIVE_INTENT_EXAMPLE_ACTION"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- Your other components like services and receivers -->
        <service
            android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver
            android:name="dev.fluttercommunity.plus.androidalarmmanager.AlarmBroadcastReceiver"
            android:exported="false"/>
        <receiver
            android:name="dev.fluttercommunity.plus.androidalarmmanager.RebootBroadcastReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7713521756709454~9448453835"/>
    </application>
    <queries>
        <intent>
            <action
                android:name="android.intent.action.PROCESS_TEXT"/>
            <data
                android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
<!--ORIGINAL VERSION-->
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android">-->
<!--<application-->
<!--    android:label="remainder"-->
<!--    android:name="${applicationName}"-->
<!--    android:icon="@mipmap/ic_launcher">-->
<!--    <activity-->
<!--        android:name=".MainActivity"-->
<!--        android:exported="true"-->
<!--        android:launchMode="singleTop"-->
<!--        android:taskAffinity=""-->
<!--        android:theme="@style/LaunchTheme"-->
<!--        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--        android:hardwareAccelerated="true"-->
<!--        android:windowSoftInputMode="adjustResize">-->
<!--        &lt;!&ndash; Specifies an Android theme to apply to this Activity as soon as-->
<!--             the Android process has started. This theme is visible to the user-->
<!--             while the Flutter UI initializes. After that, this theme continues-->
<!--             to determine the Window background behind the Flutter UI. &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="io.flutter.embedding.android.NormalTheme"-->
<!--            android:resource="@style/NormalTheme"-->
<!--            />-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN"/>-->
<!--            <category android:name="android.intent.category.LAUNCHER"/>-->
<!--        </intent-filter>-->
<!--    </activity>-->
<!--    &lt;!&ndash; Don't delete the meta-data below.-->
<!--         This is used by the Flutter tool to generate GeneratedPluginRegistrant.java &ndash;&gt;-->
<!--    <meta-data-->
<!--        android:name="flutterEmbedding"-->
<!--        android:value="2" />-->
<!--    <meta-data-->
<!--        android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--        android:value="ca-app-pub-7713521756709454~9448453835" />-->
<!--</application>-->
<!--&lt;!&ndash; Required to query activities that can process text, see:-->
<!--     https://developer.android.com/training/package-visibility and-->
<!--     https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.-->
<!--     In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. &ndash;&gt;-->
<!--<queries>-->
<!--    <intent>-->
<!--        <action android:name="android.intent.action.PROCESS_TEXT"/>-->
<!--        <data android:mimeType="text/plain"/>-->
<!--    </intent>-->
<!--</queries>-->
<!--</manifest>-->